/* ----- POPPINS FONT Link ----- *\
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,700;1,600&family=Roboto:wght@100&display=swap')

/* ----- VARIABLES ----- *\
:root{
  --body-color: ;
  --color-white: ;


  --text-color-second: ;
  --text-color-third: ;

  --first-color: ;
  --first-color-hover: ;
